*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(images/fundo.png) repeat-x;
    
    
}
#container{
    width: 750px;
	margin: 0 auto;
}
#topo {
	height: 150px;
	background: url(images/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
	
}
.logo{
        width: 152px;
        height: 66px;
        background: url(images/logo.png) no-repeat center;
        text-indent: -3000px;  
}
#topo ul li {
    float: left;
    padding: 5px;
    list-style: none;
    
}
#topo ul{
    margin-top: 30px;
    float: left;
    background: #b10333;
}
a:hover{
    color: #e50040;
}
a:link,a:visited{
     color: #b10333;
     padding: 2px;
}
#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.0em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
    background: url(images/divisor.png) no-repeat left center;
}
#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #69001d;
}
/* Conteúdo*/
.conteudo{
    width: 750px;
    border: 1px solid red;
    margin-top: 60px;
    margin: 60px auto 0 auto;
    
}
#canto-esq{
    width: 160px;
	padding: 5px;  
}
#news{
    padding: 5px;
}
label{
    display: block;
}
input[type="email"]{
    width: 8em;
}
input[type="submit"]{
    display: block;
    padding: 5px;
    background-color: #b10333;
    color:white
}
h4{
    padding: 5px;
    background-color: #294c71;
    color: white;
}
#entrevista li{
    padding: 5px 0;
}
#entrevista a{
    text-decoration: none;
    line-height: 30px;
	color: #000;
}
#entrevista ul{
    list-style: none;
}
#entrevista ul a:hover{
    background: url(images/marcador.png) no-repeat left center ;
    color: #a1a1a1;
    padding-left: 20px;
}
#mundo ul li{
    

    