*/{
    margin: 0;
    padding: 0;
}

section {
    height: 200px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}
body{
    background-color: midnightblue;
}
h2{
    padding-top: 20px;
}
#relogio{
    margin-top: -10px;
    font-size:xx-large;
    padding: 0;
    display: inline-flex;
    height: 10px;
    
}
button{
    margin-right: 10px;
}
#relogio div{
    
    height: 40px;
    width: 40px;
}